{
        "auths": {
                "https://index.docker.io/v1/": {
                        "auth": "{{docker_hub_auth}}",
                        "email": "{{docker_hub_email}}"
                }
        }
}
